includes:
    - ./vendor/justbetter/magento2-coding-standard/phpstan.neon

parameters:
    paths:
        - .
    excludePaths:
        - vendor
        - Logger/Handler/Sentry.php
    level: 8
    reportUnmatchedIgnoredErrors: false
