includes:
    - ./vendor/justbetter/magento2-coding-standard/phpstan.neon

parameters:
    paths:
        - .
    excludePaths:
        - vendor
        - Test/*
        - Logger/Handler/Sentry.php
    level: 8
    ignoreErrors:
        -
            identifier: missingType.iterableValue
