includes:
    - vendor/bitexpert/phpstan-magento/extension.neon
parameters:
    paths:
        - .
    excludePaths:
        - vendor
        - Test/*
        - Logger/Handler/Sentry.php
    level: 6
    ignoreErrors:
        -
            identifier: missingType.iterableValue
    treatPhpDocTypesAsCertain: false
