<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sentry>
            <general>
                <enable_php_tracking>1</enable_php_tracking>
                <enable_script_tag>0</enable_script_tag>
                <script_tag_placement>before.body.end</script_tag_placement>
                <use_logrocket>0</use_logrocket>
                <logrocket_identify>0</logrocket_identify>
            </general>
        </sentry>
    </default>
</config>
