<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sentry>
            <general>
                <enable_php_tracking>1</enable_php_tracking>
                <performance_tracking_enabled>0</performance_tracking_enabled>
                <enable_script_tag>0</enable_script_tag>
                <script_tag_placement>before.body.end</script_tag_placement>
                <use_logrocket>0</use_logrocket>
                <logrocket_identify>0</logrocket_identify>
            </general>
            <issue_grouping>
                <strip_static_content_version/>
                <strip_store_code/>
            </issue_grouping>
            <environment>
                <dsn/>
                <logrocket_key/>
                <environment/>
                <log_level/>
                <error_types/>
                <ignore_exceptions/>
                <mage_mode_development/>
                <js_sdk_version/>
                <tracing_enabled/>
                <tracing_sample_data/>
                <ignore_js_errors/>
                <async_sending_enabled>0</async_sending_enabled>
                <circuit_breaker_enabled>1</circuit_breaker_enabled>
                <circuit_breaker_failure_threshold>5</circuit_breaker_failure_threshold>
                <circuit_breaker_recovery_timeout>60</circuit_breaker_recovery_timeout>
                <circuit_breaker_success_threshold>2</circuit_breaker_success_threshold>
                <http_timeout>2</http_timeout>
                <http_connect_timeout>1</http_connect_timeout>
            </environment>
        </sentry>
    </default>
</config>
