<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sentry>
            <general>
                <enable_php_tracking>1</enable_php_tracking>
                <enable_performance_tracking>0</enable_performance_tracking>
                <enable_script_tag>0</enable_script_tag>
                <script_tag_placement>before.body.end</script_tag_placement>
                <use_logrocket>0</use_logrocket>
                <logrocket_identify>0</logrocket_identify>
            </general>
            <issue_grouping>
                <strip_static_content_version/>
                <strip_store_code/>
            </issue_grouping>
            <environment>
                <dsn/>
                <logrocket_key/>
                <environment/>
                <log_level/>
                <errorexception_reporting/>
                <ignore_exceptions/>
                <mage_mode_development/>
                <js_sdk_version/>
                <tracing_enabled/>
                <tracing_sample_data/>
                <ignore_js_errors/>
            </environment>
        </sentry>
    </default>
</config>
