<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="JustBetter\Sentry\Model\SentryLog">
        <arguments>
            <argument name="name" xsi:type="string">SentryLog</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Magento\Framework\Logger\Handler\System</item>
            </argument>
            <argument name="processors" xsi:type="array" />
        </arguments>
    </type>
    <type name="Magento\Framework\Logger\Monolog">
        <plugin disabled="false" name="jb_send_log_entry" type="JustBetter\Sentry\Plugin\MonologPlugin" sortOrder="0"/>
    </type>
    <type name="Magento\Framework\App\Http">
        <plugin disabled="false" name="ExceptionCatcher" type="JustBetter\Sentry\Plugin\ExceptionCatcher" sortOrder="0"/>
    </type>
</config>
