<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Cannot use plugin https://github.com/magento/magento2/issues/14950 -->
    <preference for="Magento\Framework\Logger\Monolog" type="JustBetter\Sentry\Plugin\MonologPlugin"/>
    <type name="Magento\Framework\AppInterface">
        <plugin disabled="false" name="GlobalExceptionCatcher" type="JustBetter\Sentry\Plugin\GlobalExceptionCatcher"
                sortOrder="0"/>
    </type>

    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="LogrocketCustomerInfo" type="JustBetter\Sentry\Plugin\LogrocketCustomerInfo"
                sortOrder="10" disabled="false"/>
    </type>

    <type name="Magento\Csp\Model\CompositePolicyCollector">
        <arguments>
            <argument name="collectors" xsi:type="array">
                <item name="sentry" xsi:type="object" sortOrder="99">JustBetter\Sentry\Model\Collector\SentryRelatedCspCollector\Proxy</item>
            </argument>
        </arguments>
    </type>
        
    <type name="JustBetter\Sentry\Model\SentryLog">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <!-- Tracing / Profiling -->
    <type name="Magento\Framework\Event\ManagerInterface">
        <plugin name="sentry-profiling" type="JustBetter\Sentry\Plugin\Profiling\EventManagerPlugin" disabled="false" />
    </type>
    <type name="Magento\Framework\View\Element\Template">
        <plugin name="sentry-profiling" type="JustBetter\Sentry\Plugin\Profiling\TemplatePlugin" disabled="false" />
    </type>
    <type name="Magento\Framework\DB\Logger\LoggerProxy">
        <plugin name="sentry-profiling" type="JustBetter\Sentry\Plugin\Profiling\DbQueryLoggerPlugin" disabled="false" />
    </type>
</config>
