<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sentry_before_send">
        <observer name="sentry_remove_unnecessary_stacktrace_frames" instance="JustBetter\Sentry\Observer\StripUnnecessaryFrames"/>
    </event>
</config>