<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="JustBetter_Sentry::section"
             title="Sentry"
             module="JustBetter_Sentry"
             translate="title"
             sortOrder="30"
             parent="JustBetter_Core::menu"
             resource="JustBetter_Sentry::menu"/>
        <add id="JustBetter_Sentry::config"
             title="Configuration"
             module="JustBetter_Sentry"
             translate="title"
             sortOrder="10"
             action="adminhtml/system_config/edit/section/sentry"
             parent="JustBetter_Sentry::section"
             resource="JustBetter_Sentry::config"/>
    </menu>
</config>
