<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="justbetter_sentry" frontName="testsentry">
            <module before="Magento_Backend" name="JustBetter_Sentry"/>
        </route>
    </router>
</config>
