<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="justbetter" translate="label" sortOrder="2000">
            <label>JustBetter</label>
        </tab>
        <section id="sentry" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Sentry configuration</label>
            <tab>justbetter</tab>
            <resource>JustBetter_Sentry::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Sentry general config</label>
                <field id="deployment_config_info" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Deployment config info</label>
                    <frontend_model>JustBetter\Sentry\Block\Adminhtml\System\Config\DeploymentConfigInfo</frontend_model>
                </field>
                <field id="enable_script_tag" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Sentry script tag</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="script_tag_placement" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Script tag location</label>
                    <source_model>JustBetter\Sentry\Model\Config\Source\ScriptTagPlacement</source_model>
                    <depends>
                        <field id="enable_script_tag">1</field>
                    </depends>
                </field>
                <field id="use_logrocket" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use LogRocket</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable_script_tag">1</field>
                    </depends>
                </field>
                <field id="logrocket_identify" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>LogRocket include user data</label>
                    <tooltip>Include user ID, name and email to identify logged in users in LogRocket</tooltip>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable_script_tag">1</field>
                        <field id="use_logrocket">1</field>
                    </depends>
                </field>
                <field id="sent_sentry" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <button_label>Send Sentry test event</button_label>
                    <button_url>justbetter_sentry/test/sentry</button_url>
                    <frontend_model>JustBetter\Sentry\Block\Adminhtml\System\Config\Button</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
