<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="justbetter" translate="label" sortOrder="2000">
            <label>JustBetter</label>
        </tab>
        <section id="sentry" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Sentry configuration</label>
            <tab>justbetter</tab>
            <resource>JustBetter_Sentry::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Sentry general config</label>
                <field id="deployment_config_info" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Deployment config info</label>
                    <frontend_model>JustBetter\Sentry\Block\Adminhtml\System\Config\DeploymentConfigInfo</frontend_model>
                </field>
                <field id="enable_php_tracking" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable PHP Tracking</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_performance_tracking" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Performance Tracking</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_script_tag" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Javascript Tracking</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="script_tag_placement" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Script tag location</label>
                    <source_model>JustBetter\Sentry\Model\Config\Source\ScriptTagPlacement</source_model>
                    <depends>
                        <field id="enable_script_tag">1</field>
                    </depends>
                </field>
                <field id="enable_session_replay" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Session Replay</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="replay_session_sample_rate" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Session Sample Rate</label>
                    <depends>
                        <field id="enable_session_replay">1</field>
                    </depends>
                </field>
                <field id="replay_error_sample_rate" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Error Sample Rate</label>
                    <depends>
                        <field id="enable_session_replay">1</field>
                    </depends>
                </field>
                <field id="replay_block_media" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Block Media</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable_session_replay">1</field>
                    </depends>
                </field>
                <field id="replay_mask_text" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Mask text</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable_session_replay">1</field>
                    </depends>
                </field>
                <field id="use_logrocket" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use LogRocket</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable_script_tag">1</field>
                    </depends>
                </field>
                <field id="logrocket_identify" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>LogRocket include user data</label>
                    <tooltip>Include user ID, name and email to identify logged in users in LogRocket</tooltip>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable_script_tag">1</field>
                        <field id="use_logrocket">1</field>
                    </depends>
                </field>
                <field id="sent_sentry" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <button_label>Send Sentry test event</button_label>
                    <button_url>justbetter_sentry/test/sentry</button_url>
                    <frontend_model>JustBetter\Sentry\Block\Adminhtml\System\Config\Button</frontend_model>
                </field>
            </group>
            <group id="environment" translate="label comment" sortOrder="20" showInDefault="1" showInStore="0" showInWebsite="0">
                <label>Environment Configuration</label>
                <comment><![CDATA[Setting the configuration here will override the Magento Deployment Configuration.]]></comment>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="dsn" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>DSN</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="logrocket_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Logrocket Key</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="environment" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Environment</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="log_level" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Log Level</label>
                    <source_model>JustBetter\Sentry\Model\Config\Source\LogLevel</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="tracing_enabled" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Tracing Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="tracing_sample_rate" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Tracing Sample Rate</label>
                    <validate>validate-not-negative-number validate-number</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="issue_grouping" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Sentry issue grouping</label>
                <comment><![CDATA[Sentry does its best to group related issues, but due to some parts in most Magento URL's, Sentry inadvertently does not group these issues although they might be related. Stripping out these values from the URL helps with this.]]></comment>
                <field id="strip_static_content_version"  translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Strip static version from URL</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="strip_store_code" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Strip store code from URL</label>
                    <comment><![CDATA[Caution: this will replace all occurrences of your storecode in the URL, which might cause issues when the store code is too generic.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <hide_in_single_store_mode>1</hide_in_single_store_mode>
                </field>
            </group>
        </section>
    </system>
</config>
